* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    position: relative;
}

a {
    text-decoration: none;
}
.hero-bg-video {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -999;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
    height: 24vh;


}

.header-logo {
    width: 130px;
}

nav {
    display: flex;
    gap: 4vw;
}

nav a {
    color: #030930;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}

nav a:hover {
    color: #bf46a2;
}

.Visit-store {
    color: #030930;
    padding: 14px 30px;
    border: 1px solid red;
    border-radius: 1.5vw;
    font-weight: bold;
    background-color: white;
    transition: all 2s ease-in-out;
}

.Visit-store:hover {
    background: linear-gradient(160deg, #6c1eb2, #d14fa0);
    color: white;
}


.knowledge-link i {
    transition: rotate 0.4s ease-in-out;
}

.knowledge-link:hover i {
    rotate: 180deg;
}

.knowledge-link {
    position: relative;
}

.knowledge-link:hover .knowledge-container {
    display: block;
}

.knowledge-container {
    position: absolute;
    height: 150px;
    width: 160px;
    border: 2px solid blueviolet;
    border-radius: 8px;
    background-color: whitesmoke;
    display: none;
    color: #030930;
    padding: 10px 10px;
    border-color: rgb(153, 183, 240);
    top: 18px;
}

.knowledge-container a {
    display: flex;
    gap: 9px;

}



main {
    height: 76vh;
    padding: 0 6vw;
    box-shadow: inset 0px -120px 30px -60px white;
}

main h1 {
    font-size: 55px;
    padding-top: 80px;
    color: #030930;
}

main p {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.7;
}

input {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: #030930;
    border: none;
    outline: none;
    color: #bababa;

}

.input {
    display: flex;
    justify-content: center;


}

.input div {
    padding: 16px;
    border-radius: 40px;
    background-color: #030930;
    color: #bababa;
}

.input input::placeholder {
    font-weight: bold;
    color: #bababa;
}




/* ---------------category section ------------ */
/* section {
    height: 100vh;
    background-color: white;
    margin-top: 100px;
} */

.category-section {
    text-align: center;
    height: 100vh;
    margin: 40px 0;

}

.category-section h2 {
    font-size: 50px;
    color: #030930;
    padding-bottom: 20px;
}

.category-section p {
    color: #bababa;
    font-size: 18px;
    line-height: 1.6;
}

.category-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-top: 30px;
   
}

.category-card {
    width: 30%;
    /* border: 1px solid red; */
    border-radius: 12px;
    overflow: hidden;
    /* below css for CONTENT AFTER VIDEO */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    box-shadow: inset 0px -150px 50px 0px white;
}



.category-card p {
    font-size: 30px;
    color: #030930;
    font-weight: bold;
    padding-bottom: 10px;
}

.category-card a {
    background-color: #030930;
    border-radius: 8px;
    padding: 14px 32px;
    color: #fff;
    width: max-content;
    transition: all 2s ease-in-out;
}
.category-card video {
    width: 100%;
    z-index: -99;
}
.category-card a:hover
{
     background: linear-gradient(160deg, #6c1eb2, #d14fa0);
     color: white;   
}

/*------------- category section end------------ */

/* animation css start------------ */
.container
{
    margin-top: 170px ;
   
}
.container h1
{
    text-align: center;
    font-size: 60px;
   
}
.container
{
    overflow: hidden;
}
.animate-container
{
    display: flex;
    gap: 10px;
    margin: 80px 0;
    animation: animate-1 20s linear infinite;
   
}

@keyframes animate-1
{
    from{
        transform: translate(0px);

    }
    to
    {
        transform: translate(-100%);
    }
}

.project
{
    height: 190px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #d5ecff;
    background: #f4faff;
    flex-shrink: 0;
     

}

.project .logo
{
    height: 8vh;
    width: 8vw;
    margin-top: 5vh;
}
.project .logo3,.logo4
{
    height: 8vh;
    width: 4vw;
    border-radius: 4px;
    margin-top: 5vh ;
    margin-left: 2vw;

}

.project .para1
{
    margin: 3vh;
    margin-left: 2vw;
    font-size: 16px;
    color: #666666;
}
.project .para2
{
    margin-left: 2vw;
    font-size: 24px;
    font-weight: 600;
    color: black;
}


/* animation css end------------ */
