
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body
 {
     font-family:sans-serif;
 }
a
{
    text-decoration: none;
}

 header
 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
    height: 24vh;
   

 }
.header-logo
{
    width: 130px;
}

nav 
{
   display: flex;
   gap: 4vw; 
}
nav a
{
    color: #030930;
    font-weight: bold; 
    transition: all 0.4s ease-in-out;
}
nav a:hover
{
    color: #bf46a2;
}
.Visit-store
{
    color: #030930;
    padding: 14px 30px;
    border: 1px solid red;
    border-radius: 1.5vw;
    font-weight: bold;
    background-color: white;
    transition: all 2s ease-in-out;
}
.Visit-store:hover
{
    background:linear-gradient(160deg, #6c1eb2,#d14fa0);
    color: white;
}


.knowledge-link i
{
    transition: rotate 0.4s ease-in-out;
}
.knowledge-link:hover i
{
    rotate: 180deg;
}
.knowledge-link
{
    position: relative;
}
.knowledge-link:hover .knowledge-container
{
    display: block;
}
.knowledge-container
{
    position: absolute;
    height: 150px;
    width: 160px;
    border: 2px solid blueviolet;
    border-radius: 8px;
    background-color: whitesmoke;
    display: none;
    color: #030930;
    padding: 10px 10px;
    border-color: rgb(153, 183, 240);
}
.knowledge-container a
{
    display: flex;
    gap: 9px;

}
.hero-bg-video
{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -9999;
}
main
{
    height: 76vh;
}
section
{
    height: 100vh;
    background-color: antiquewhite;
}